@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100;1,200;1,300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300&family=Poppins:ital,wght@0,100;1,100;1,300&family=Roboto:wght@100;400&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --app-background-color: #1F183D;
    --app-text-color: #ffffff;
    --app-icon-color: #1F183D;
    --app-logo-color: #2D83E5 ;
    --app-input-field-color: #2D2D35;
    --app-box-shadow: -16px 3px 78px -22px rgba(45,131,229,0.65);
    --profile-image-background: #1A1A29;
    --app-font-family: "Roboto Light",Popins,sans-serif;
    --app-font-size-lg: 1.2rem;
    --app-font-size-sm: 1rem;
    --app-experience-card-background-color: #4B4453;
    /*progress bar*/
    --html_bar_width: 90%;
    --css_bar_width: 90%;
    --php_bar_width: 45%;
    --bootstrap_bar_width: 90%;
    --javascript_bar_width: 65%;
    --angular_bar_width: 55%;
    --react_bar_width: 55%;
    --node_bar_width: 30%;
    --figma_bar_width: 40%;
    --mysql_bar_width: 40%;
    --mongo_bar_width: 40%;
    --github_bar_width: 50%;
}
body {
    font-family: "Roboto Light",Popins,sans-serif;
    background-color: var(--app-background-color);
    color: var(--app-text-color);
}

html{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
}

a{
    text-decoration: none;
    color: var(--app-text-color);
}



::-webkit-scrollbar {
    height: 0.8rem;
    width: 0.3rem;

}

::-webkit-scrollbar-track {
    background: rgb(16, 15, 15);
}

::-webkit-scrollbar-thumb {
    background: rgba(234, 234, 234, 0.5);
    border-radius: 0.5rem;

}
